<!-- This is the proper way if you have submit button outside your ion-content form (typically in the ion-header or ion-footer) -->
<!-- (ref: https://github.com/ionic-team/ionic/issues/16661) -->
<form
  class="update-user-form ion-page"
  [formGroup]="editionLivreForm"
  (ngSubmit)="modifier()"
>
  <!-- EN-TÊTE -->
  <ion-header>
    <!-- TOOLBAR -->
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="{{'/app/listes/details/' + livre.id}}"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>Édition</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="update-user-content">
    <!-- COUVERTURE -->
    <!-- <ion-row class="select-user-image-row">
      <ion-col class="user-image-col" size="5">
        <app-aspect-ratio [ratio]="{w: 1, h: 1}">
          <app-image-shell
            [display]="'cover'"
            class="user-image"
            animation="spinner"
            [src]="'/assets/custom-icons/placeholder-livre.jpg'"
            [alt]="'user image'"
          ></app-image-shell>
        </app-aspect-ratio>
        <input
          #file
          type="file"
          style="display: none"
          (change)="preview(file.files)"
        />
        <ion-button class="change-image-btn" (click)="file.click()">
          <ion-icon class="btn-icon" slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row> -->

    <section class="user-details-fields fields-section">
      <ion-list class="inputs-list" lines="full">
        <!-- TITRE -->
        <ion-item class="input-item">
          <div class="input-item-wrapper">
            <ion-label color="secondary" position="floating">Titre</ion-label>
            <ion-input type="text" formControlName="titre" required></ion-input>
          </div>
        </ion-item>

        <!-- DESCRIPTION -->
        <ion-item class="input-item">
          <ion-label color="secondary" position="floating"
            >Description</ion-label
          >
          <ion-textarea
            type="text"
            formControlName="desc"
            rows="4"
            required
          ></ion-textarea>
        </ion-item>
      </ion-list>
    </section>

    <!-- SCHEMA -->
    <div class="section-wrapper">
      <h3 class="details-sous-titre">Schéma</h3>
    </div>
    <!-- TOUS -->
    <div class="chapitres-wrapper">
      <ul class="chapitres-liste">
        <li
          class="chapitre-item"
          *ngFor="let chapitre of livre?.schema; let index = index"
        >
          <div class="schedule-outer">
            <span class="schedule-day"
              >{{ chapitre.label | capitalize }} &nbsp;
              <ion-icon
                slot="start"
                color="tertiary"
                name="open-outline"
                (click)="modifierChamps(index)"
              ></ion-icon
            ></span>
            <div class="schedule-hours">
              <span class="schedule-value">
                {{ chapitre.type | capitalize }}
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- AJOUTER CHAMPS -->
    <ion-row class="section-wrapper">
      <ion-col size="8" offset="2">
        <ion-button
          color="tertiary"
          size="small"
          fill="clear"
          class="schedule-value"
          (click)="creerChamps()"
          ><ion-icon slot="end" name="duplicate-outline"></ion-icon>
          Ajouter un champs
        </ion-button>
      </ion-col>
    </ion-row>

    <section class="">
      <ion-row class="form-actions-wrapper">
        <ion-col>
          <ion-button
            class="delete-btn"
            expand="block"
            color="primary"
            fill="outline"
            (click)="annuler()"
          >
            ANNULER
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            class="submit-btn"
            expand="block"
            color="tertiary"
            type="submit"
            fill="solid"
            [disabled]="!editionLivreForm.valid"
            >MODIFIER</ion-button
          >
        </ion-col>
      </ion-row>
    </section>
  </ion-content>
</form>
